:root {
    --text-color: #fff;
    --background-color: rgba(22, 22, 23 , 0.8);

}

body{
    color : varO(--text-color);
    background-color: #000;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 40px;
    background-color: var(--background-color);
}

.navbar_menu{
    display : flex;
    gap : 20px;
}

.navbar_menu a{
    padding: 0px 5px;
}

.navbar_menu a:hover{
    background-color: var(--text-color);
    color : #000;
    border-radius: 5px;
}
 
.navbar_links {
    display: flex;
    gap : 20px;
}